.bundle
.DS_Store
.loadpath
.project
.idea
INSTALL
Thumbs.db
config/database.yml
db/*.sql
db/*.sqlite3
db/schema.rb
log/*.log
tmp/*
.tmp*
*.tmp_*
.project
.gitk*
/system
/public/system
log/
log/searchd.development.pid
db/schema.rb
vendor/gems/ruby
*~
.redcar
/bowling.rb
/bowling_spec.rb
GitX.app

designer/
.rvmrc
webrat.log

RAILS_ENV=test
